/*  your css code here. If applicable */
.table>td , .table>th{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
}
.maintab:nth-child(odd){
	background-color:#f2f2f2;
}
.maintab:nth-child(even) {
	background-color:#ffffff;
}
